<div [ngClass]="{'disabled': disabled}" class="flex flex-col w-full {{styleClass}}">
  <p-floatlabel>
    <p-multiSelect
      (blur)="markAsTouched()"
              (ngModelChange)="onInput($event)"
              [(ngModel)]="value"
              [disabled]="disabled"
              [options]="items"
              [placeholder]=" (placeholder | edoIsNotEmpty) ? placeholder! : ''"
              [showClear]="showClear"
              class="w-full {{inputStyleClass}}"
              optionLabel="label" />
    <label >{{ label }}</label>
  </p-floatlabel>

  <div class="flex-row height10">
    <span *ngIf="errorMessage | edoIsNotEmpty" class="input-field-error-message"> {{ errorMessage }} </span>
  </div>
</div>

